<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
		    <p>
		        Start Collecting your contacts in very smarter way. We provide
				very efficient and smarter way of handling contacts.
			</p>
			<a th:href="@{/signin}"
						class="btn btn-secondary   text-uppercase">Let's
						Start</a>
						
						<hr />
			
			 
			
		</div>
	</section>

</body>
</html>